body {
    color: #999;

}

.game_field {
    display: flex;
    width: 600px;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
.game_field_cell { 
    width: 150px;
    height: 150px;
    border: solid 1px black;
    margin: auto;
    text-align: center;
    box-sizing: border-box;

}
